@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    max-width:100%;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color:#fff;
}
.btn{
    color:#000;
    background-color:#fff;
    padding:1rem 4rem;
    border-radius:60px;
    box-shadow:1px 1px 10px #999;
}
.btn-pink-bg{
    color:#fff;
    background-color:hsl(322, 100%, 66%);
}
.container{
    width:95%;
    margin:auto;
    
    
}
.container p{
    font-size:18px;
    position: relative;
}
header{
    min-height:100vh;
    background-image: url("./images/bg-hero-desktop.svg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-color:  hsl(193, 100%, 96%);
    padding:2.5rem 0;
}
header nav{
    min-height:10vh;
}
header nav ul{
    width:100%;
    display:inline-flex;
    justify-content:space-between;
    align-items:center;
    
}
header .main-content{
    display:flex;
    margin-top:2rem;
    justify-content:space-between;

    align-items:center;

}
header .main-content .txt{
    width:37%;
    margin-top:-8rem;


}
header .txt h1{
    width:80%;
}
header .txt p{
    font-size:15px;
    margin:1rem 0 3rem 0;;
}
header .main-content img{
    width:60%;
   
}
.boxes{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    margin-top:3rem;
    margin-bottom:5rem;
}
.boxes .box{
    box-shadow:1px 1px 5px #999;
    border-radius:10px;
    display:flex;
    margin:2rem 0;
    align-items:center;
    justify-content: space-around;
}
.boxes .box:nth-child(2) img{
    order:-1;
}
.boxes .box .content{
    width:40%;
    padding-left:3rem;

}
.boxes .content h1{
    font-weight:700;
}
.boxes .content p{
    color:hsl(208, 11%, 55%);
    padding:1rem 0;
    line-height:2rem;
}
.boxes .box img{
    width:40%;
    max-height:50vh;
    max-width:40%;
    margin:2rem;
}
.card{
    width:50%;
    box-shadow:1px 1px 5px #999 ;
    height:25vh;
    display:flex;
    flex-direction:column;
    position:absolute;
    left:25%;
    border-radius:20px;
    justify-content:center;
    align-items:center;
    font-weight:800;
    background-color:#fff;
    z-index:3;
    

    
}
.card h1{
    padding-bottom:1.6rem;
}
footer{
    margin-top:10rem;
    background-color:hsl(192, 100%, 9%);
    padding-top:8rem;
    min-height:30vh;
    overflow:hidden;
    position: relative;
    padding-bottom:3rem;
}
footer img{
    margin:1rem 0;
}
footer .contact{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:15vh;
    clear:left;
}
footer .contact ul li{
    margin:1rem 0;
}
footer .contact ul:first-child{
    width:45%;
    margin-top:1.2rem;

}

footer .contact ul:first-child img{
    margin:0 1rem;

}
footer .contact .social-media{
    display:inline-flex;
    
    
}
footer .contact .social-media li{
    padding:0.5rem;
    border:1px solid #fff;
    margin:0 1rem;
    margin-top:-3rem;
    height:30px;
    width:30px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;


}
footer p:last-child{
    color:hsl(193, 100%, 96%);
    position:absolute;
    right:0;
    bottom:2rem;
}
@media only screen and (max-width:385px) {
    header{
        background-image: url("./images/bg-hero-mobile.svg");
    }
    header nav ul{
        height:100%;
    }
    header nav ul li img{
        width:60%;
    
    }
    header nav ul li .btn{
        padding:0.5rem 1rem;
    }
    header .main-content{
        flex-direction: column;
        text-align:center;
    }
    header .main-content .txt{
        width:100%;
        margin:0;

    }
    header .main-content .txt h1{
        width:100%;
    }
    
    header .main-content img{
        width:100%;
        margin-top:3rem;
    }
    .boxes .box{
        flex-direction:column;
    }
    .boxes .box .content{
        width:100%;
        text-align:center;
        padding:1rem;

    }
    .boxes .box img{
        order:-1;
    }
    .card{
        width:90%;
        text-align: center;
        left:5%;
    }
    .card h1{
        padding:1rem;
    }
    .card .btn{
        margin-bottom:1rem;
    }
    footer .contact{
        flex-direction: column;
        height:auto;
        
    }
   
    footer .contact ul{
        width:100% !important;
    }
    footer .contact ul:last-child{
        margin-top:2.5rem;

    }
    footer .contact .social-media{
        justify-content:center;
    }
}